{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Main Section Start -->
		<div class="main-section">
			<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 60px;margin-bottom: 0px;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
							<div class="user-dashboard loader-holder" style="width: 450px; min-height: auto;">
								<div class="user-holder">
                            <h4 class="text-center" style="margin-bottom: 0;">Change Passwrd</h4>
                            <p class="text-center">Type your new password to change it.</p>
                            <hr>
                            <div id="restaurant-sets-holder">
                                <form class="form-fields-set foodbakery-dev-restaurant-form" method="post" action="{% url 'reset_password' %}">
                                    {% csrf_token %}
                                    <ul class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Passwrd</label>
                                                                <input type="password" name="password" id="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Confirm Passwrd</label>
                                                                <input type="password" name="confirm_password" id="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <div class="payment-holder">
                                                            <input type="submit" value="Submit" id="btn-next-restaurant-information" class="bgcolor">
                                                            <a href="{% url 'forgot_password' %}" class="float-right" style="margin-top: 20px;">Forgot Passwrd?</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Showing Messages Here -->
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    {% include 'includes/messages.html' %}
                                                </div>
                                            </div>
                                            <!-- End Messages Here -->
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Section End -->
{% endblock %}